@font-face {
    font-family: Silkscreen;
    src: url(../fonts/Silkscreen/Silkscreen-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
.left-column {
    width: 25%;
    float: left;
    margin-left: 20%;
    margin-top: 10%;
    font-family: Silkscreen;
}
.main-text {
    font-size: 120px;
    margin-top: 0;
    margin-bottom: 0;
    color: dodgerblue;
}
.second-text {
    font-weight: bold;
    font-size: 38px;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.button {
    color: dodgerblue;
    text-decoration: none;
    border: 3px solid dodgerblue;
    display: inline-block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 1.2em;
    /* border-radius: 0%; /* [0..50] */
    /* border-radius: 20px; /* [0..25] */
    /* border-radius: 1em; /* = 1 * 20px */

    border-radius: 25px; /*pabandyti perrasyti viska em vienetais */
    cursor: cell;
}
.right-column {
    width: 32%;
    float: left;
    margin-left: 5%;
    margin-top: 7%;
}
